PROJECT_ROOT=
LOG_LEVEL=
REPOSITORY_TYPE=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=
POSTGRES_TIMEOUT=
POSTGRES_HOST=
CAHE_REPOSITORY_TYPE=
REDIS_HOST=
REDIS_TIMEOUT=
MAX_MEMORY=
LOGGER_REPOSITORY_TYPE=
CLICKHOUSE_HOST=
CLICKHOUSE_DB=
CLICKHOUSE_USER=
CLICKHOUSE_PASSWORD=
CLICKHOUSE_TIMEOUT=
SERVICE_NAME=
